{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5",
        "bracketSpacing": true
      }
    ],
    "linebreak-style": ["error", "unix"]
  }
}
